<!DOCTYPE html>

<html>

    <head th:replace="contenedor/tablero ::head"></head>
    <body>
        <main>  
            <nav th:replace="contenedor/tablero ::barraNavegacion"></nav>
            <section>
                <div class="p-5 m-4 text-white fondo-presentation rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Colombia</h1>
                        <h3 class="fw-bold">Actividades a Desarrollar</h3>

                        <ul class="fst-italic fs-4">
                            <li>Parcial-Pa' un 5.0</li>
                            
                            <li>Libreria de diseño Bootstrap</li>
                            <li>Arquitectura MVC</li>
                            <li>Framework Desarrollo JAVA SpringBoot</li>
                        </ul>

                    </div>
                </div>



            </section>
           
        </main>
    </body>
    <footer th:replace="contenedor/tablero ::footer"></footer>
    
</html>
